<h1>{{ .Title }}
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-cog" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/modal/new-instance" data-remote="false" data-toggle="modal" data-target="#theModal">New {{ .Type }}</a></li>
      <li><a href="/modal/manage-instance-classes" data-remote="false" data-toggle="modal" data-target="#theModal">Manage {{ .Type }} Classes</a></li>
    </ul>
  </div>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>Private IP</th>
      <th>Public IP</th>
      <th>Instance Id</th>
      <th>AMI</th>
      <th>Size</th>
      <th>State</th>
      <th>AZ</th>
      <th>VPC</th>
      <th>Subnet</th>
    </tr>
  </thead>
  <tbody>
  {{range .Data.Instances}}
    <tr>
      <td>{{ .Name }}</td>
      <td>{{ .Class }}</td>
      <td>{{ .PrivateIp }}</td>
      <td>{{ .PublicIp }}</td>
      <td>{{ .InstanceId }}</td>
      <td>{{ .AMI }}</td>
      <td>{{ .Size }}</td>
      <td>{{ .State }}</td>
      <td>{{ .AvailabilityZone }}</td>
      <td>{{ .VPC }}</td>
      <td>{{ .Subnet }}</td>
    </tr>
    {{end}}
  </tbody>
</table>